{# src/Phenome/TryBundle/Resources/views/Try/get_drugs.html.twig #}

{# % render "PhenomeBundle:Try:index" % #}

{#% render "PhenomeTryBundle:Try:get_drugs" with {'results': results} %#}

<h3>Drug uri's</h3>

{#{dump(results)}#}


{% for result in results %}
   Drug uri:  <a href="{{ path('drug', { 'drug_uri': result.drug_uri }) }}">{{ result.drug_name }}</a>  
 {% endfor %}



<table>
   <tr><th>Drug</th> <th>Target</th> <th>Indications</th> </tr>

 {% for result in results %}
   <tr>
     <td><a href="{{result.drug_uri}}">{{ result.drug_name}}</a></td>
     <td>{% for target in result.targets %}
       <li><a href="{{target.target_uri}}">{{target.target_name}}</a>
 	 {% endfor %}
     </td>

      <td>{% if result.indications is defined %} {% for indication in result.indications %}
       <li><a href="http://test.com/">{{indication.indication_uri}}</a>
 	 {% endfor %} {% endif %}
     </td>
   </tr>
 {% endfor %}

</table>


 

<ul class="nav nav-pills nav-stacked">
  {# % if drug_uri is not null % #}
   Drug uri:  {#<a href="{{path ('drug')}} "#} {#{{results.drug_uri}} #} {#</a> #} 
  {#% endif %#}

</ul>




