{# src/Phenome/TryBundle/Resources/views/Try/index.html.twig #}

{# This page renders the contents of the arrays which are rendered to the view in the TryController #}

<!DOCTYPE html>
  <html>
    <head>
      <title>Bienvenue au site PhenomeDrug</title>
    </head>
 <body>


   <h1>Bonjour !</h1> 
    <p>
    Bienvenue 'a la page test pour PhenomeDrug :p
    </p> 


 <head>
{% block javascripts %}
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
 <script type="text/javascript" charset="utf-8" src="{{ asset('bundles/datatables/js/jquery.dataTables.js') }}"></script>

 <script type="text/javascript">

$(document).ready( function () {
var asInitVals = new Array();
    var oTable = $('#table_id').dataTable({
    "bProcessing": true,
    "bServerSide": true,
    "sAjaxSource": "{{ asset ('bundles/datatables/my_server_side.php') }}"

   	// "sServerMethod": "GET"
    });


    $("tfoot input").each( function (i) {
        asInitVals[i] = this.value;
    } );

        
   /*  
    $("tfoot input").focus( function () {
        if ( this.className == "search_init" )
        {
            this.className = "";
            this.value = "";
        }
    } );

    $("tfoot input").blur( function (i) {
        if ( this.value == "" )
        {
            this.className = "search_init";
            this.value = asInitVals[$("tfoot input").index(this)];
        }
    } );
*/
    $("tfoot input").keyup( function () {
        oTable.fnFilter( this.value, $("tfoot input").index(this) );
    } );


 
} ); 
</script>
   {% endblock %}

  {% block stylesheets %}
            
            <link href="{{ asset('bundles/datatables/css/demo_table.css') }}" rel="stylesheet" />
  {% endblock %}
 </head>
<table>
<table id="table_id" class="display">
<thead> 



   <tr><th>Drug</th> <th>Target</th> <th>Indications</th> </tr>
</thead> 
<tbody>

 {% for result in results %}
 
   <tr>
     <td><a href="{{ path('drug', { 'drug_uri': result.drug_uri }) }}">{{ result.drug_name}}</a></td>
     <td>{% for target in result.targets %}
       <li><a href="{{ path('target', { 'target_name': target.target_name })  }}">{{target.target_name}}</a>
 	 {% endfor %}
     </td>

      <td>{% if result.indications is defined %} {% for indication in result.indications %}
       <li> <a href=" http://test.com/">{{indication.indication_uri}}</a>
 	 {% endfor %} {% endif %}
     </td>
   </tr>
 {% endfor %}

</tbody> 

	<tfoot>
		<tr>
			<th><input type="text" name="search_drug" value="Search drugs" class="search_init" /></th>
			<th><input type="text" name="search_target" value="Search targets" class="search_init" /></th>
			<th><input type="text" name="search_indication" value="Search indications" class="search_init" /></th>

		</tr>
	</tfoot>

</table>
</html>

{#

{drugnames}
 <ul>
    {% for drug in drugs %}
      <li>
        <a href="http://test.com/"> {{drug}}</a>
      </li> 
    {% else %}
      <li>Pas (encore !) de drogues</li>
    {% endfor %}

  </ul> 


{drug uri's}

 <ul>

    {% for drug_uri in drugs_uri %}
      <li>
        <a href="http://test.com/"> {{drug_uri}}</a>
      </li> 
    {% else %}
      <li>Pas (encore !) de uri</li>
    {% endfor %}


  </ul> 


{drug targets}

 <ul>

    {% for drug_target in drugs_target %}
      <li>
        <a href="http://test.com/">  {{drug_target}} </a> 
      </li> 
    {% else %}
      <li>Pas (encore !) de cibles</li>
    {% endfor %}


  </ul> 


{drug indications}

 <ul>

    {% for drug_indication in drugs_indication %}
      <li>
        <a href="http://test.com/"> {{drug_indication}}  </a> 
      </li> 
    {% else %}
      <li>Pas (encore !) d'indications</li>
    {% endfor %}


  </ul> 
#}
<p>
<pre>
{#{ dump (drugs) }#}
</pre>
</p>


 </body>
</html>


